@using Newtonsoft.Json;
@model IEnumerable<DigitalServices.Models.Clientes>

@{
    ViewBag.Title = "Listado de Clientes";
}

<h2 style="text-align:center"><strong>Clientes<br /></strong></h2>
<table class="table table-hover table-responsive">
    <tr>
        <th>#</th>
        <th>Nombres</th>
        <th>Dirección</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Acciones</th>
    </tr>
    <tbody id="tbBody"></tbody>
</table>
<button type="button" class="btn btn-primary glyphicon glyphicon-book"
        data-toggle="modal" data-target="#myModal" onclick="">
    Generar Reporte
</button>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Listado de Clientes</h4>
            </div>
            <div id="Reporte">
                <table border="1" class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombres</th>
                            <th>Dirección</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                        </tr>
                    </thead>
                    <tbody id="tabBody"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"
                        onclick="CrearPDF()">
                    Imprimir
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jspdf.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                var Customers = @Html.Raw(@JsonConvert.SerializeObject(Model));
                $.each(Customers, function (index, customer) {
                    var otra;
                    var fila = '<tr>';

                    fila += '<td>' + customer.IdCliente + '</td>';
                    fila += '<td>' + customer.Nombres + '</td>';
                    fila += '<td>' + customer.Direccion + '</td>';
                    fila += '<td>' + customer.Email + '</td>';
                    fila += '<td>' + customer.Telefono + '</td>';
                    otra = fila;
                    fila += '<td>' +
                        '<button id="' + customer.IdCliente + '" class="btn btn-link" type="button" onclick="EditarFactura(this)">Editar</button>' +
                        '|' + '<button id="' + customer.IdCliente + '" class="btn btn-link" type="button" onclick="VerFactura(this)">Ver</button>' +
                        '|' + '<button id="' + customer.IdCliente + '" class="btn btn-link" type="button" onclick="EliminarFactura(this)">Eliminar</button>'
                        + '</td>';
                    fila += '</tr>';

                    $('#tbBody').append(fila);
                    $('#tabBody').append(otra);
                });
            })
            function EditarFactura(label) {
                var id = parseInt($(label).attr('id'));
                var url = "/Clientes/Details/" + id;
                window.location = "http://" + window.location.host + url;
            }
            function VerFactura(label) {
                var id = parseInt($(label).attr('id'));
                var url = "/Clientes/Details/" + id;
                window.location = "http://" + window.location.host + url;
            }
            function EliminarFactura(label) {
                var id = parseInt($(label).attr('id'));
                var url = "/Clientes/Delete/" + id;
                window.location = "http://" + window.location.host + url;
            }
            function CrearPDF() {
                var name = 'ListadoClientes' + new Date().toLocaleDateString();
                var pdf = new jsPDF('p', 'pt', 'letter');
                source = $('#Reporte')[0];
                specialElementHandlers = {
                    '#bypassme': function (element, renderer) {
                        return true
                    }
                }
                margins = {
                    top: 50,
                    left: 60,
                    width: 545
                };
                pdf.fromHTML(
                    source // HTML string or DOM elem ref.
                    , margins.left // x coord
                    , margins.top // y coord
                    , {
                        'width': margins.width // max width of content on PDF
                        , 'elementHandlers': specialElementHandlers
                    },
                    function (dispose) {
                        // dispose: object with X, Y of the last line add to the PDF
                        //          this allow the insertion of new lines after html

                        pdf.save(name + '.pdf');
                    }
                )
            }
    </script>
}
