@{
    ViewBag.Title = "About";
}
<h2><strong>Información acerca de DigitalServices</strong></h2>
<font face="times new roman" size="4" color="black">
    <p style="text-align: justify">
        <br />
        DigitalServices es una empresa multifacética en el área de la imagen digital. Fue fundada por el fotógrafo
        profesional Rafael Nadal Gutierrez, en Noviembre de 2005 a raíz de una oferta familiar donde adquiere un negocio
        equipado con gran diversidad de equipos fotográficos. En ese entonces Sandy Foto Studio estaba ubicado en la
        C/Guido Cabral #7b, Tenares, Rep. Dom. Cinco años más tarde con el propósito de expandir el negocio Sandy
        Foto Studio fue trasladado a la calle 16 de Agosto Esq. 27 de Febrero, Tenares, Rep. Dom., donde actualmente
        está ubicada esta empresa.<br /><br />

        Su filosofía de trabajo está fundamentada en su misión, visión y valores.
    </p>
</font>