@{
    ViewBag.Title = "Contactanos";
}
<h2>@ViewBag.Title.</h2>
<h3><strong>Información sobre Digital Services</strong></h3>

<address>
    C/16 de Agosto Esq. 27 de Febrero<br />
    Tenares, Rep. Dom.<br />
    <abbr title="Phone">P:</abbr>
    (809) 587 - 5555
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>