@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Digital Services</h1>
    <p class="lead">En este jumbotron irá una breve descripción de la aplicación y la empresa y para dirigirnos al fan pages 
    o su pagina de Facebook enlazaremos a seguir leyendo</p>
    <p><a href="https://www.facebook.com/" class="btn btn-primary btn-lg">Seguir leyendo &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MISIÓN</h2>
        <p>
            El estudio fotográfico  SANDY FOTO ESTUDIO tiene como misión darse a conocer en el mercado de la región del 
            Cibao y a nivel nacional e internacional  por ofrecer los mejores servicios personalizados y satisfacer las 
            necesidades y expectativas de los clientes y público en general.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>VISIÓN</h2>
        <p>Llegar a ser una empresa líder del mercado de servicio fotográfico y en el ámbito publicitario, de reconocida 
        calidad y eficiencia en el servicio, que cuente con una cultura organizacional basada en la iniciativa y la 
        innovación  permanente.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>VALORES</h2>
        <p> ~	Honestidad<br />
            ~	Lealtad<br />
            ~	Responsabilidad<br />
            ~	Profesionalidad<br />
            ~	Humildad<br />
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>